.nav
  padding-block: 1em

.logo
  display: flex

.nav > div
  height: min(10vh, 100px)
  box-shadow: 0px 0px 32px #00000010
  display: flex
  gap: 1em
  justify-content: space-between
  align-items: center
  border-radius: 1em
  padding: .7em

.nav.inputFocused
  input
    &::placeholder
      color: #000b

.nav input
  width: 100%
  padding: .7em
  border-radius: .5em
  &::placeholder
    color: #0003
    transition: all 200ms ease

.buttonContainer
  button
    width: 0rem

.nav.inputFocused .buttonContainer
  button
    width: 5rem